.header__topbar {
    display: flex;
    align-items: center;
    height: 100%;
}

.header__topbar-container {
    height: 57px;
    background-color: var(--background-color);
}

.header__topbar-currency,
.header__topbar-language {
    color: var(--white-color);
    margin: 0;
}

.header__topbar-currency-item,
.header__topbar-language-item {
    font-size: 1.4rem;
    padding: 18px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

.header__topbar-currency-item:hover .header__topbar-currency-sub,
.header__topbar-language-item:hover .header__topbar-language-sub {
    display: block;
}

.header__topbar-currency-item i,
.header__topbar-language-item i {
    margin-left: 8px;
    font-size: 1.2rem;
}

.header__topbar-currency-sub,
.header__topbar-language-sub {
    --growthFrom: 0.3;
    --growthTo: 1;
    position: absolute;
    background-color: var(--background-color);
    width: 122px;
    top: 105%;
    left: -10px;
    animation: fadeIn 0.4s, growth 0.4s;
    transform-origin: top center;
    transition: all 0.4s;
    box-shadow: 0px 1px 3px #081828;
    display: none;
}

.header__topbar-currency-sub li {
    padding: 15px 32px;
    transition: all 0.3s;
}

.header__topbar-language-sub::before,
.header__topbar-currency-sub::before {
    position: absolute;
    content: "";
    height: 35px;
    width: 100%;
    top: -22px;
    cursor: pointer;
}

.header__topbar-language-sub li {
    padding: 17px 26px;
    transition: all 0.3s;
}

.header__menu-topbar-list li a {
    display: block;
    color: var(--white-color);
    font-size: 1.4rem;
    padding: 18px;
    font-weight: 600;
    transition: all 0.4s;
}

.header__menu-topbar-list li a:hover .header__menu--when-hover::before {
    width: 100%;
}

.header__menu-topbar-list li a:hover {
    color: var(--primary-color);
}

.header__menu--when-hover {
    position: relative;
}

.header__menu--when-hover::before {
    position: absolute;
    content: "";
    top: 3px;
    height: 2px;
    width: 0;
    left: 0;
    background-color: var(--primary-color);
    transition: all 0.4s;
    ;
}

.user-avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 12px;
}

.header__menu-topbar-user-list li a {
    color: var(--white-color);
    font-size: 1.4rem;
    padding: 6px 8px;
    font-weight: 600;
    transition: all 0.4s;
}

.header__menu-topbar-user-list li:nth-child(2) {
    position: relative;
}

.header__menu-topbar-user-list li:nth-child(2)::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 1px;
    background-color: var(--white-color);
    right: 0;
    transform: translate(-50%, -50%);
    top: 50%;
}

.header__menu-topbar-user-list li:not(:first-child) a {
    padding: 18px 14px;
}

.header__menu-topbar-user-list li a:hover {
    color: var(--primary-color);
}

.header__middle {
    padding: 25px 0;
    border-bottom: 1px solid #eee;
}

.header__middle-logo img {
    width: 200px;
}

.header__middle-navbar-option {
    position: relative;
    height: 100%;
    padding: 0 20px;
    font-size: 1.4rem;
    border-right: 1px solid #e2e2e2;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__middle-navbar-option:hover .header__middle-navbar-select-sub {
    display: block;
}

.header__middle-navbar-select-sub {
    position: absolute;
    top: 120%;
    left: 0;
    background-color: var(--white-color);
    box-shadow: 0 0 5px rgb(0 0 0 / 14%);
    width: 170px;
    animation: fadeIn 0.4s;
    transition: all 0.3s;
    display: none;
    z-index: 11;
}

.header__middle-navbar-select-sub:before {
    position: absolute;
    content: "";
    top: -8px;
    width: 100%;
    height: 10px;
    cursor: pointer;
}

.header__middle-navbar-option-sub {
    font-size: 1.4rem;
    color: var(--black-color);
    padding: 10px 20px;
    transition: all 0.3s;
}

.header__middle-navbar-option-sub:hover {
    background-color: #e2e2e2;
    cursor: pointer;
}

.header__middle-navbar-option i {
    margin-left: 12px;
    font-size: 1.2rem;
}

.header__middle-navbar-search {
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    height: 45px;
}

.header__middle-navbar-input {
    height: 100%;
    border: none;
    width: 100%;
    padding: 0 15px;
    font-size: 1.4rem;
    outline: none;
}

.header__middle-navbar-search-btn {
    height: 100%;
    border: none;
    height: 45px;
    width: 50px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 1.6rem;
    transition: all 0.3s;
}

.header__middle-navbar-search-btn:hover {
    background-color: var(--black-color);
    cursor: pointer;
}

.header__middle-right-area-contact i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 1.6rem;
    border: 1px solid #e2e2e2;
}

.header__middle-right-area-contact i:hover {
    transform: rotate(360deg);
    color: var(--white-color);
}

.nav-hotline {
    margin-left: 12px;

}

.nav-hotline h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #081828;
}

.nav-hotline span {
    color: #888;
    font-weight: 300;
    font-size: 1.4rem;
    margin-top: 2px;
}

.header__middle-right-area-service-wrap {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 1.6rem;
    border: 1px solid #e2e2e2;
    margin-right: 12px;
}

.header__middle-right-area-service-wrap .quantity {
    position: absolute;
    height: 19px;
    width: 19px;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 50%;
    top: -5px;
    right: -8px;
    font-size: 1.2rem;
}

.header__middle-right-area-service--have-cart:hover .header__middle-service--have-cart {
    display: block;
}

.header__middle-service--have-cart {
    --growthTo: 0;
    --growthFrom: 1;
    position: absolute;
    border-radius: 4px;
    top: 180%;
    right: -6px;
    background-color: var(--white-color);
    width: 300px;
    box-shadow: 0 0 5px rgb(0 0 0 / 14%);
    padding: 20px 25px;
    transform-origin: right;
    animation: fadeIn 0.4s;
    transition: all 0.3s;
    display: none;
    z-index: 11;
}

.header__middle-service--have-cart::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 23px;
    top: -26px;
    left: 0;
    cursor: pointer;
}

.header__middle-service--have-cart .head {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.header__middle-service--have-cart .head a,
.header__middle-service--have-cart .head .quantity--have-cart {
    font-weight: 500;
    font-size: 1.5rem;
    color: #222;
    transition: all 0.3s;
    cursor: text;
}

.header__middle-service--have-cart .head a:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.shopping-item {
    padding-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 15px;
    overflow: hidden;
}

.shopping-item__img-wrap {
    height: 80px;
    width: 80px;
    border: 1px solid #ededed;
    border-radius: 4px;
    display: block;
    margin-right: 25px;
}

.shopping-item__img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shopping-item .info {
    width: 60%;
    padding-right: 25px;
}

.shopping-item .info h3 {
    margin-bottom: 9px;
}

.shopping-item .info h3 a {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    color: #081828;
    transition: all 0.1s;
}

.shopping-item .info h3 a:hover {
    color: var(--primary-color);
}

.shopping-item .info span {
    font-size: 1.5rem;
    color: #081828;
    opacity: 0.7;
}

.shopping-item i {
    font-size: 1.1rem;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    border: 1px solid #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222;
}

.header__middle-service--have-cart .footer .total-price {
    font-size: 1.5rem;
    color: #081828;
    font-weight: 500;
    padding-bottom: 10px;
}

.footer__btn {
    padding: 13px 30px;
    font-weight: 600;
    border-radius: 6px;
    transition: all 0.3s;
}

.footer__btn:hover {
    background-color: #081828;
    color: var(--white-color);
}

/* Header bottom */
.header__bottom {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.category-menu {
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    border-right: 1px solid #eee;
    height: 100%;
}

.category-menu i {
    margin-right: 12px;
    font-size: 2rem;
}

.header__bottom-menu-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 1.5rem;
    color: var(--black-color);
    font-weight: 500;
    transition: all 0.3s;
}

.header__bottom-menu-item.active a {
    color: var(--primary-color);
}

.header__bottom-menu-item a:hover {
    color: var(--primary-color);
}

.header__bottom-menu-item i {
    font-size: 1.2rem;
    margin-left: 7px;
    transform: translateY(1px);
}

.header__bottom-socials {
    display: flex;
    align-items: center;
}

.header__bottom-right-area span {
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 12px;
}

.header__bottom-socials-item {
    margin-right: 8px;
}

.header__bottom-socials-item a i {
    font-size: 1.4rem;
    color: #555;
    border: 1px solid #eee;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* Content */
.content__area {
    margin-top: 24px;
}

.slide-content__area-container {
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
}

.slide-content__area-container .content {
    position: absolute;
    top: 20%;
    width: 60%;
    padding: 20px 50px;
}

.slide-content__area-container .content span {
    font-size: 1.7rem;
    font-weight: 500;
    color: #8a8a8a;
}

.slide-content__area-container .content h2 {
    font-size: 3rem;
    color: #081828;
    font-weight: 700;
    margin: 12px 0;
}

.slide-content__area-container .content p {
    font-size: 1.4rem;
    color: #888;
}

.slide-content__area-container .content .price span {
    font-size: 16px;
    font-weight: 600;    
    color: #8a8a8a;
    margin-right: 12px;
}

.slide-content__area-container .content .price {
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: 700;
    color: #081828;
}

.content__area-btn {
    padding: 13px 30px;
    font-size: 1.4rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 6px;
    display: inline-block !important;
    margin-top: 24px;
}

.content__area-btn:hover {
    background-color: #081828;
    color: var(--white-color); 
}


.slide-content__area-container:hover .content__area-icon {
    display: flex;
}

.content__area-icon {
    position: absolute;
    top: 50%;
    font-size: 1.6rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    height: 60px;
    width: 35px;
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;
}

.content__area-icon:hover {
    background-color: #081828;
    color: var(--white-color);
}

.content__area-icon.left {
    left: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.content__area-icon.right {
    right: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.content__area-right-area-top-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content__area-right-area .top .content {
    position: absolute;
    top: 20%;
    padding: 15px 25px;
}

.content__area-right-area .top .content h2 ,
.content__area-right-area .bottom .content h2 {
    font-size: 2.3rem;
    font-weight: 600;
    margin: 3px 0 5px 0;
}

.content__area-right-area .top .content span {
    font-size: 1.5rem;
    font-weight: 500;
    color: #888;
}

.content__area-right-area .top .content h3 {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 700;
}

.content__area-right-area .bottom {
    position: relative;
    height: 244px;
}

.content__area-right-area .bottom.bottom-img {
    background-image: url(https://demo.graygrids.com/themes/shopgrids/assets/images/hero/small-banner-bg.png);
    background-color: #081828;
    margin-top: 12px;
    width: 100%;
}

.content__area-right-area .bottom .content {
    position: absolute;
    padding: 30px;
    color: var(--white-color);
}

.content__area-right-area .bottom .content p {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 12px 0;
}

.content__area-right-area .bottom .bottom__btn {
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 10px 25px;
    border-radius: 6px;
    margin-top: 12px;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 0.3s;
}

.content__area-right-area .bottom .bottom__btn:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* Featured Categories */
.featured-categories__item {
    border: 2px solid #f0f0f0;
    padding: 40px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 24px;
}

.featured-categories__item img {
    position: absolute;
    right: 0;
    top: 13%;
}

.featured-categories__item .content h3 {
    font-size: 1.7rem;
    font-weight: 700;
}

.featured-categories__list {
    margin-top: 20px !important;
}

.featured-categories__list li a {
    color: #666;
    font-size: 1.5rem;
    margin-bottom: 4px;
    display: block;
    font-weight: 450;
    transition: all 0.3s;
    right: 0;
    position: relative;
    opacity: 0.8;
}

.featured-categories__list li a:hover {
    color: var(--primary-color);
    right: -4px;
}

